<!-- 
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-3 col-md">
                <small class="d-block mb-3 text-white">© Laura Trentino, 2022</small>
            </div>
            <div class="col-3 col-md">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="text-muted text-decoration-none"
                        href="https://au.linkedin.com/in/laura-trentino-526763216" target="blank">Linkedin</a>
                        <a class="text-muted text-decoration-none"
                        href="https://www.linkedin.com">LinkedIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-muted text-decoration-none"
                        href="https://github.com/ltrentino/anaemia_project_extended" target="blank">Github</a>
                    </li>
 
                </ul>
            </div>
        </div>
    </footer>
</div> -->


<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© Laura Trentino, 2022</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://au.linkedin.com/in/laura-trentino-526763216" class="nav-link px-2 text-muted" target="blank">Linkedin</a></li>
        <li class="nav-item"><a href="https://github.com/ltrentino/anaemia_project_extended" class="nav-link px-2 text-muted" target="blank">Github</a></li>
      </ul>
    </footer>
  </div>