
{% extends "base.html" %}

{% block body %}

  <div class="container-fluid">

    <div class="card bg-light text-white">
      <img class="card-img" src="../static/images/wood1.jpg" alt="Card image">
      <div class="card-img-overlay">
      


        <div class="row">

          <div class="col">
          <div class="card text-white bg-secondary mb-3"> 
  
            <div class="card-body">
              <h5 class="card-title">Why talk about anaemia?</h5>
              <p class="card-text">Anaemia is a global public health problem. It affects 30% of women and 40% of children.
                <p>It is linked with a variety of suboptimal outcomes, including poor mental and
                  physical development in children, and implications for productivity in adults. 
                  <p>These outcomes have a negative flow on
                   effect on the output of an economy.</p>
                   <img class="card-img" src="../static/images/women.jpg" alt="Card image">
            </div>
          </div>
          </div>
  
  
        <div class="col">
          
    
          <div class="card text-white bg-secondary mb-3">
            <!-- <div class="card-header"><img class="card-img" src="../static/images/downhill.jpg" alt="Card image"></div> -->
            <div class="card-body">
              <h5 class="card-title">The good news</h5>
              <p class="card-text">Most anaemias are due to <strong>nutritional deficiences</strong>, such as iron, folate, B12 deficiencies. 
                <p>This means opportunities exist to address it through prevention and treatment.</p>
                <p>Ask your family doctor how you can maximise your blood health before it becomes a problem. Learn about <a href="http://ifpbm.org" style="color:rgb(255, 255, 255)"><strong>Patient Blood Management</strong></a></p>
           
              <img class="card-img" src="../static/images/blood1.png" alt="Card image">
            </div>
          </div>
  
  
  
        </div>
  
  
  
        <div class="col">
          <div class="card text-white bg-secondary mb-3">
            <div class="card-body">
              <h5 class="card-title">Reducing anaemia globally</h5>
              <p class="card-text">In 2014 the WHO set the goal to reduce anaemia globally by 50% by 2025. 
                <p>That goal has been extended to 2030. This project aims to analyse global anaemia data collected by the WHO in children and women of pregnant age.
                <p>Additionally, using statistical prediction models we also estimate case numbers by 2025.</p>
                <img class="card-img" src="../static/images/children.jpg" alt="Card image">

              </div>
          </div>
    
        </div>
  

        


{% endblock %}

