<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="navbar-brand" href="/">Global Anaemia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/children.html">Children</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/women.html">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/data" 
                      target="_blank" rel="noopener noreferrer" >API data</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/api/predict" 
                      target="_blank" rel="noopener noreferrer" >API predict</a>
                  </li>
            </ul>
        </div>
    </div>

</nav> -->




  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html">Global Anaemia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Women
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/dashboard_w.html">Dashboard</a></li>
              <li><a class="dropdown-item" href="/forecast_w.html">Forecast</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://anaemia-app-bucket-01.s3.ap-southeast-2.amazonaws.com/anaemia_women.csv">download API-data</a></li>
              <li><a class="dropdown-item" href="#">download API-forecast</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Children
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/dashboard_c.html">Dashboard</a></li>
              <li><a class="dropdown-item" href="/forecast_c.html">Forecast</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://anaemia-app-bucket-01.s3.ap-southeast-2.amazonaws.com/anaemia_children.csv">download API-data</a></li>
              <li><a class="dropdown-item" href="https://anaemia-app-bucket-01.s3.ap-southeast-2.amazonaws.com/anaemia_children_forecast.csv">download API-forecast</a></li>
            </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Useful Links
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="https://www.who.int/data/gho/data/themes/topics/anaemia_in_women_and_children" target="blank">WHO Anaemia Page</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="https://www.ifpbm.org" target="blank">IFPBM website</a></li>
                
              </ul>
            </li>           


          </li>


        </ul>
      </div>
    </div>
  </nav>